<link rel="stylesheet" href="/stylesheets/style.css" type="text/css"  />
<div style="width:1000px;">


 
 <div style="float:left;width:500px;  border:#CCCCCC solid 2px;">
<div style="float:left;width:500px; height:20px;  background-color:#94B5D7;"><div style="padding-left:20px; color:#FFFFFF;"><b>Your  Profile</b></div></div> 

<div style="float:left;width:500px; padding-left:10px;">
 <div style="height:30px;"></div>


<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Full Name </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @user.full_name %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;  padding-left:10px;">Address </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @user.address %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">City </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @user.city %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Province </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @user.province %></div>
</div>


<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Country </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @user.country %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Postal Code </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @user.postal_code %>  </div>
</div>


<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Your Picture </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= image_tag(url_for_file_column('user', 'picture'), :style => 'width:200px; height:150px;') %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">&nbsp; </div> 
<div style="width:5px; float:left;">&nbsp;</div>
<div style="width:200px; float:left;">&nbsp;</div>
</div>





<div style="height:30px;"> &nbsp;</div>
<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;  padding-left:10px;">&nbsp;</div>
<div style="width:200px; float:left; border:0px"><%= link_to image_tag('/images/edit.jpg',:style => 'border:none;'), edit_profile_url  %></div>


<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">&nbsp; </div> 
<div style="width:5px; float:left;">&nbsp;</div>
<div style="width:200px; float:left;">&nbsp;</div>
</div>

<div style="width:5px; height:5px; float:left;">&nbsp;</div>
</div>

 </div>
 
 
 </div>
 
 <div style="float:left;width:300px; height:20px; padding-left:10px;"></div>
 </div>

<%= render :partial => 'email_to_frd' %>

				
