<div style=" width:1000px;"><center><% if !flash[:notice_wel].blank? %>
            <%= flash[:notice_wel] %>
			<% end %></center></div>
<div style=" width:1000px;">

<div style="float:left; width:650px; height:400px;">
<% if !@account_data.blank? %>


 <div style="float:left;width:600px;  border:#CCCCCC solid 2px;">
<div style="float:left;width:600px; height:20px;  background-color:#94B5D7;"><div style="padding-left:20px; color:#FFFFFF;">
<b><%= @account_data.full_name %> Profile</b></div></div> 

<div style="float:left;width:600px; padding-left:10px;">
 <div style="height:30px;"></div>


<div style="float:left;width:600px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Full Name </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @account_data.full_name %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;  padding-left:10px;">Address </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @account_data.address %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">City </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @account_data.city %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Province </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @account_data.province %></div>
</div>


<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Country </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @account_data.country %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Postal Code </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= @account_data.postal_code %></div>
</div>


<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">Upload Picture </div> 
<div style="width:5px; float:left;">:</div>
<div style="width:200px; float:left;"><%= image_tag(url_for_file_column('account_data', 'picture'), :style => 'width:200px; height:150px;') %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;padding-left:10px;">&nbsp; </div> 
<div style="width:5px; float:left;"></div>
<div style="width:200px; float:left;">Create Your Own Profile By Clicking Sign Up! Link</div>
</div>





<div style="height:30px;"> &nbsp;</div>


 </div>
 
 
 </div>
 
 <div style="float:left;width:300px; height:20px; padding-left:10px;"></div>
 
 <% else %>
<div style="float:left;width:600px;"><%= image_tag "/images/myprofile.gif"  %></div>
 
 <% end %>
 
 </div>



				



<div style="float:left; width:305px; height:193px; border:#CCCCCC solid 2px; color:#94B5D7;">

<div style=" width:304px;">
<% form_for 'signin', :url => {:action => 'signin'} do %>
<div style=" float:left;padding-left:10px; width:150px; height:30px; ">
<div style="padding-top:5px;"><b><center><%= image_tag ("/images/login.gif") %></center></b></div></div> 
<div style="float:left; width:104px; padding-left:10px;  height:30px; ">
<div style="padding-top:5px;"><%= link_to image_tag("/images/signup3.gif",:style=>" border:none;"), {:action => 'signup'},:style => 'width:50px; text-decoration:none;' %></div></div></div>
<div style="float:left; width:304px;">&nbsp; <center><% if !flash[:notice].blank? %>
            <%= flash[:notice] %>
			<% end %></center></div>
<div style="float:left; width:304px;">

<div style="float:left; width:100px; padding-left:10px; ">
	<b>Username:</b>
</div> 
<div style="float:left; width:50px;"><input type="text" id="username"  name="username" />
	
</div>
</div>
<div style="float:left; width:304px;">
<div style="float:left; width:100px; padding-left:10px; ">
	<b>Password:</b>

</div> 
<div style="float:left; width:50px;">
    <input type="password" id="password"  name="password" />
</div>
	</div>	
	
	<div style="float:left; width:304px;"> &nbsp;</div>
<div style="float:left; width:304px;"><center><input type="image" src="/images/signin3.gif" /></center></div>			

<% end %>

<div style="float:left; width:304px;">&nbsp;</div>
<div style="float:left; width:304px;">&nbsp;</div>






</div>





</div>
<!--Sign in Form-->

