
<div style="width:900px;">


 <div style="height:10px;"></div>
 
 
 <div style="float:left;width:500px;  border:#CCCCCC solid 2px;">
<div style="float:left;width:500px; height:20px;  background-color:#94B5D7;">Sign Up for Your Account</div> 

<div style="float:left;width:500px; padding-left:10px;">
 <div style="height:30px;"></div>
<% form_for 'account', :url => {:controller => 'login', :action => 'signup'}  do %>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:150px;padding-left:10px;" align="right">Username </div> 
<div style="width:15px; float:left;" align="center">:</div>
<div style="width:200px; float:left;"><%= text_field 'account','user_name' %></div>
</div>
<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:150px;padding-left:10px;" align="right">&nbsp; </div> 
<div style="width:15px; float:left;" align="center">&nbsp;</div>
<div style="width:200px; float:left;"><%= error_message_on :account, :user_name,"* User Name " %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:150px;  padding-left:10px;" align="right">Password </div> 
<div style="width:15px; float:left;" align="center">:</div>
<div style="width:200px; float:left;"><%= password_field 'account','password' %></div>
</div>
<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:150px;padding-left:10px;" align="right">&nbsp; </div> 
<div style="width:15px; float:left;" align="center">&nbsp;</div>
<div style="width:200px; float:left;"><%= error_message_on :account, :password , "* Password " %></div>
</div>
<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:150px;  padding-left:10px;" align="right">Confirmation Password  </div> 
<div style="width:15px; float:left;" align="center">:</div>
<div style="width:200px; float:left;"><%= password_field :account,:password_confirmation %></div>
</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:150px;  padding-left:10px;" align="right">&nbsp;</div> 
<div style="width:15px; float:left;" align="center">&nbsp;</div>
<div style="width:200px; float:left;"><%= error_message_on :account, :password_confirmation, "* Confirmation " %></div>
</div>
<div style="height:60px; width:500px;"> &nbsp;</div>

<div style="float:left;width:500px; padding-left:10px;">
<div style="float:left;width:100px;  padding-left:10px;">&nbsp;</div>
<div style="width:200px; float:left;"><input type="image" src="/images/signup.jpg" /> <%= link_to image_tag("/images/s_cancel.jpg", :style => 'border:none;'), { :controller =>'login' } %></div>
<div style="width:5px; float:left;">&nbsp;</div>
</div>
<% end %>
 </div>
 
 
 </div>
 
 <div style="float:left;width:300px; height:20px; padding-left:10px;"></div>
 </div>



				
